/* Centra la pagina */
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
  background-color: #e9ecef;
  padding: 50px 0;
  color: #212529; 
}

.main-container {
  width: 90%;
  max-width: 900px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.header-app h1 { color: #2c3e50; margin: 0; }